absl-py==0.13.0
asttokens==2.0.5
backcall==0.2.0
biobert-pytorch==0.9
blis==0.4.1
boto3==1.23.8
botocore==1.26.8
Bottleneck==1.3.2
cachetools==4.2.2
catalogue==1.0.0
certifi==2022.9.24
charset-normalizer==2.0.4
click==8.0.1
contourpy==1.0.5
cycler==0.11.0
cymem==2.0.5
debugpy==1.5.1
decorator==5.1.1
docopt==0.6.2
entrypoints==0.4
executing==0.8.3
filelock==3.0.12
fonttools==4.37.4
future==0.18.2
gensim==4.0.1
google-auth==1.35.0
google-auth-oauthlib==0.4.5
grpcio==1.39.0
huggingface-hub==0.10.1
idna==3.3
ipykernel==6.15.2
ipython==8.4.0
jedi==0.18.1
jmespath==1.0.0
joblib==1.0.1
jsonlines==1.2.0
jupyter_client==7.3.5
jupyter_core==4.11.1
kiwisolver==1.4.4
Markdown==3.3.4
matplotlib==3.6.1
matplotlib-inline==0.1.6
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
murmurhash==1.0.5
nest-asyncio==1.5.5
networkx==2.8.7
nltk==3.4.5
numexpr==2.7.3
numpy==1.19.2
oauthlib==3.1.1
packaging==21.3
pandas==1.3.2
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip==22.2.2
plac==1.1.3
preshed==3.0.5
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-lightning==0.7.5
pytorch-transformers==1.2.0
pytz==2021.1
PyYAML==6.0
pyzmq==23.2.0
regex==2019.12.20
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.5.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.3.3
seaborn==0.12.0
sentencepiece==0.1.85
setuptools==63.4.1
six==1.16.0
sklearn==0.0
smart-open==5.2.0
spacy==2.2.3
srsly==1.0.5
stack-data==0.2.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.0
thinc==7.3.1
threadpoolctl==2.2.0
tokenizers==0.12.1
torch==1.9.0+cu111
torchvision==0.10.0+cu111
tornado==6.2
tqdm==4.41.0
traitlets==5.1.1
transformers==4.23.1
typing-extensions==3.10.0.0
urllib3==1.26.6
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.1
wget==3.2
wheel==0.37.1
